{% load static %}
<header>
    <div class="header-wrapper">
        <div class="logo">
            <img src="{% static 'pages/img/Vanko_logo.png' %}" alt="" style="width: 200px;">
        </div>

        <div class="container" onclick="hamburgerToggle(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">services</a></li>
            </ul>
        </nav>
    </div>

</header>